body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-image: linear-gradient(135deg, #d9dbfa 25%, transparent 25%), linear-gradient(225deg, #d9dbfa 25%, transparent 25%), linear-gradient(45deg, #d9dbfa 25%, transparent 25%), linear-gradient(315deg, #d9dbfa 25%, #e5e5f7 25%);
    background-position: 0px 0, 0px 0, 0 0, 0 0;
}

hr {
    width: 500px;
}

#title {
    margin: 10px auto;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /*Box Css*/
    border: 2px solid black;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    background-color: #FFF7F7;
    /*Text Css */
    color: black;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #3fc031;
    color: white;
    border-color: white;
}

#answer {
    color: #FF4500;
    font-size: 30px;
}

.partialcorrect {
    background-color: #f5ce23;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}

.keyboard-row {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    background-color: #FFF7F7;
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}